﻿﻿.toast {
    padding: 1.5rem;
    color: #fff;
    z-index: 1;
    position: fixed;
    width: 25rem;
    max-width: 80%;
    top: 2rem;
    right: 2rem;
    border-radius: 1rem;
}

.toast-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.toast-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

    .toast-body p {
        margin-bottom: 0;
    }

.toast-visible {
    display: flex;
    flex-direction: row;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
