﻿@inherits LayoutComponentBase
<div class="page">
    <Toolbelt.Blazor.PWA.Updater.PWAUpdater />
    <Toast />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="bottom-nav-container">
        <NavMenu />
    </div>
</div>
