.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    padding-bottom: 3rem;
}

.content {
    padding-top: 1.1rem;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}

.bottom-nav-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}