﻿<nav class="nav justify-content-around">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-grid-3x2" aria-hidden="true"></span>
        <span class="nav-text">Spielplan</span>
    </NavLink>
    <NavLink class="nav-link" href="konfiguration">
        <span class="bi bi-gear-fill" aria-hidden="true"></span>
        <span class="nav-text">Konfiguration</span>
    </NavLink>
    <NavLink class="nav-link" href="info">
        <span class="bi bi-question-circle" aria-hidden="true"></span>
        <span class="nav-text">Info</span>
    </NavLink>
</nav>
