.nav {
    background-image: var(--nav-background);
    display: flex;
}

.nav-link {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px 0;
}

.nav-link.active .nav-text {
    display: inline;
    color: var(--nav-link-active);
}

.nav-text {
    color: var(--nav-link-color);
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
    background-size: cover;
    color: var(--nav-link-color);
}

.nav-link.active .bi {
    color: var(--nav-link-active);
}

@media (max-width: 768px) {
    .nav-link .nav-text {
        display: none;
    }

    .nav-link.active .nav-text {
        color: var(--nav-link-color);
    }

    .nav-link.active .bi {
        color: var(--nav-link-color);
    }
}
