﻿@if (ShowModal)
{
    <div class="modal fade show" style="display: block;" tabindex="-1" @onclick="Cancel">
        <div class="modal-dialog" @onclick:stopPropagation>
            <div class="modal-content">
                @ChildContent
            </div>
        </div>
    </div>
}
@code {
    /// <summary>
    /// Whether to show the modal or not. Will be set to false when the background is clicked.
    /// </summary>
    [Parameter] public bool ShowModal { get; set; }

    /// <summary>
    /// Triggered when the background is clicked. When called, the modal will just have hidden itself.
    /// </summary>
    [Parameter] public EventCallback OnCancel { get; set; }

    /// <summary>
    /// The content of the modal. If nothing is passed, the modal will be empty.
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; } = builder => builder.AddMarkupContent(0, "<p>Modal works!</p>");

    private async Task Cancel()
    {
        ShowModal = false;
        await OnCancel.InvokeAsync();
    }
}
