﻿.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bs-body-bg);
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        left: 4px;
        bottom: 4px;
        background-color: var(--bs-body-bg);
        -webkit-transition: .3s;
        transition: .3s;
        border-radius: 50%;
    }

input + .slider {
    background-color: var(--accent-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle-option {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

    .toggle-option.selected {
        opacity: 1;
    }
