﻿@inherits InputBase<bool>

<span class="toggle-option @ClassLeft">@Left</span>
<label class="switch">
    <input type="checkbox" @bind="CurrentValue" />
    <span class="slider"></span>
</label>
<span class="toggle-option @ClassRight">@Right</span>

@code {
    [Parameter] public string? Left { get; set; }
    [Parameter] public string? Right { get; set; }

    private string ClassLeft => CurrentValue ? string.Empty : "selected";
    private string ClassRight => CurrentValue ? "selected" : string.Empty;

    protected override bool TryParseValueFromString(string? value, out bool result, out string validationErrorMessage)
    {
        throw new NotImplementedException($"Parsing a string to a bool is not implemented in {nameof(ToggleSwitch)}");
    }
}
