﻿@page "/"
@page "/spielplan"
@using Spielplangenerator.Services
@using System.ComponentModel.DataAnnotations
@inject AppState State
@inject NavigationManager Nav
@inject SpielplanService SpielplanService
@inject ToastService Toasts

<PageTitle>Spielplangenerator</PageTitle>

@if (ValidationResults.Any())
{
    <h1>Willkommen!</h1>
    <p>Die aktuell Konfiguration ist nicht valide:</p>
    <ul>
        @foreach (var validationResult in ValidationResults)
        {
            <li>@validationResult.ErrorMessage</li>
        }
    </ul>
    <button class="btn btn-primary" @onclick="() => GoToKonfiguration()">Zur Konfiguration</button>
}
else
{
    <button class="btn btn-warning mb-2" @onclick="ErstelleNeuenSpielplan">Spielplan generieren</button>
    @if(LastException != null)
    {
        <h3>Fehler beim generieren des Spielplans:</h3>
        <p>@LastException.Message</p>
        if(LastException is InvalidSetupException ise)
        {
            <h4>Details:</h4>
            <p>Bisher generierte Spiele:</p>
            <ol>
                @foreach (var spiel in ise.BisherigeSpiele)
                {
                    <li>@spiel.ToShortString()</li>
                }
            </ol>
            <p>Spiel das versucht wurde zu generieren: @ise.VerlangtesSpiel</p>
            <p>Letzte verfügbare Spieler:</p>
            <ul>
                @foreach (var spieler in ise.LetzteSpieler.Select(s =>s.Name))
                {
                    <li>@spieler</li>
                }
            </ul>
        }
    }
    else if(State.Spielplan != null)
    {
        <SpielplanTabelle Spielplan="State.Spielplan" />
    }
}

@code{
    private List<ValidationResult> ValidationResults => State.Einstellungen.Validate(new(State.Einstellungen)).ToList();
    private string? ErrorMessage { get; set; }
    private Exception? LastException { get; set; }

    protected override void OnInitialized()
    {
        State.OnInitialized += StateHasChanged;
    }

    private void GoToKonfiguration(bool validate = false)
    {
        Nav.NavigateTo($"/konfiguration?Val={validate}");
    }

    private void ErstelleNeuenSpielplan()
    {
        LastException = null;
        try
        {
            SpielplanService.GeneriereSpielplan();
            State.SpeichereSpielplan();
        }
        catch (ValidationException ex)
        {
            GoToKonfiguration(true);
            Toasts.ShowToast(ex.Message, ToastLevel.Error);
            LastException = ex;
        }
        catch (InvalidSetupException ex)
        {
            LastException = ex;
        }
        catch (Exception ex)
        {
            Toasts.ShowToast(ex.Message, ToastLevel.Error);
            LastException = ex;
        }
    }
}