﻿@using Spielplangenerator.Services
@inject AppState State

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th class="pe-2 narrow">Nr.</th>
            <th>Modus</th>
            <th>Spieler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (spiel, index) in Spielplan.ErsteHalbzeit.Select((s, i) => (s, i)))
        {
            <tr>
                <td class="text-start align-middle narrow">@index</td>
                <td class="text-start align-middle">@spiel.Modus</td>
                <td>
                    <ul class="list-group list-group-flush">
                        @foreach (var spieler in spiel.Spieler)
                        {
                            <li class="list-group-item">@spieler.Name</li>
                        }
                    </ul>
                </td>
            </tr>
        }
        <tr>
            <td colspan="3">Halbzeit</td>
        </tr>
        @foreach (var (spiel, index) in Spielplan.ZweiteHalbzeit.Select((s, i) => (s, i)))
        {
            <tr>
                <td class="text-start align-middle narrow">@index</td>
                <td class="text-start align-middle">@spiel.Modus</td>
                <td>
                    <ul class="list-group list-group-flush">
                        @foreach (var spieler in spiel.Spieler)
                        {
                            <li class="list-group-item">@spieler.Name</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [EditorRequired][Parameter] public required Begegnung Spielplan { get; set; }
}
