﻿@page "/info"

<h3>Welches App Icon?</h3>
<p>Es soll nach Installation der PWA auf dem Startbildschirm angezeigt werden.</p>
<p>1: Tisch</p>
<img src="https://gitlab.com/Regenhardt/kickern/uploads/f0066d0d7d9fb26f877deb895b4c4826/1.avif" alt="Icon 1, isometrische Sicht auf einen stilisierten Kickertisch" style="max-width:10rem;" />

<p>2: Feld</p>
<img src="https://gitlab.com/Regenhardt/kickern/uploads/ba2f4bb0bc92d1aa35e048a99494f4d8/2.avif" alt="Icon 2, stilisierte Spielerfiguren auf einem schematischen Fussballfeld" style="max-width: 10rem;" />

<p>3: Stange</p>
<img src="https://gitlab.com/Regenhardt/kickern/uploads/1eea97ed6302d13f532317a4322a2ddf/3.avif" alt="Icon 3, Spieler auf einer Stange" style="max-width: 10rem;" />
