﻿@page "/konfiguration"
@using Spielplangenerator.Services
@using Spielplangenerator.Spielplan
@inject AppState State
@inject IStorage Storage

<PageTitle>Konfiguration</PageTitle>

<EditForm @ref="form" Model="State.Einstellungen">
    <DataAnnotationsValidator />
    <div class="validation-container">
        <img src="img/tischkicker.jpg" alt="Tischkicker" />
        <div class="validation-summary">
            <ValidationSummary />
        </div>
    </div>
<div class="form-control">
    <ToggleSwitch Left="2 Einzel" @bind-Value="@State.Einstellungen.DoppelStattEinzel" Right="1 Doppel" />
</div>

<table class="table">
    <thead>
        <tr>
            <th>Spieler</th>
            <th>Position</th>
            <th>Modus</th>
            <th>Nur 1.HZ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var spieler in State.Einstellungen.Spieler)
        {
            <tr>
                <td>@spieler.Name</td>
                <td><InputSelect @bind-Value="spieler.Position" @onclick="Speichern" class="no-chevron">
                    <option value="">Egal</option>
                    <option value="@Position.Vorne">Vorne</option>
                    <option value="@Position.Hinten">Hinten</option>
                </InputSelect></td>
                <td><InputSelect @bind-Value="spieler.Einzelspielmodus" @onclick="Speichern" class="no-chevron">
                    <option value="@Spielmodus.Einzel">Einzel</option>
                    <option value="@Spielmodus.Goalie">Goalie</option>
                </InputSelect></td>
                <td><InputCheckbox @bind-Value="spieler.WillSchnellWeg" @onclick="Speichern" /></td>
                <td><MitspielerBearbeiten Spieler="spieler" AlleSpieler="State.Einstellungen.Spieler" /><button class="btn btn-sm btn-danger bi bi-trash3-fill" @onclick="() => SpielerEntfernen(spieler)"></button></td>
            </tr>
        }
    </tbody>
</table>
</EditForm>

<NeuerSpieler OnNeuerSpieler="SpielerHinzufuegen" />

@code {
    EditForm form = null!;

    [SupplyParameterFromQuery]
    public bool Val { get; set; }

    protected override void OnInitialized()
    {
        State.OnInitialized += OnStateLoaded;
    }

    private void OnStateLoaded()
    {
        StateHasChanged();
        Validate();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            form.EditContext!.OnFieldChanged += (context, args) => Validate();
            if (Val)
            {
                Val = false;
                Validate();
            }
        }
    }

    private void Validate() => form.EditContext!.Validate();
    private async Task SpielerHinzufuegen(Player spieler)
    {
        State.Einstellungen.Spieler.Add(spieler);
        Validate();
        await State.SpeichereEinstellungen();
    }

    private async Task SpielerEntfernen(Player spieler)
    {
        State.Einstellungen.Spieler.Remove(spieler);
        Validate();
        await State.SpeichereEinstellungen();
    }

    private async Task Speichern()
    {
        await Task.Yield();
        await State.SpeichereEinstellungen();
    }
}
