﻿@using Spielplangenerator.Services
@inject AppState State

<button class="btn btn-sm btn-info bi bi-people-fill" @onclick="ActivateModal"></button>

<Modal ShowModal="ShowModal" OnCancel="CloseModal">
    <div class="row">
        <div class="col">
            <div class="modal-header">Verfügbare Spieler</div>
            @foreach (var player in AndereSpieler.Where(player => !Spieler.BevorzugteMitspieler.Contains(player.Name)))
            {
                <div class="card my-2 mx-4">
                    <div class="card-body d-flex justify-content-between align-items-center py-2">
                        <span>@player.Name </span><button class="btn btn-secondary bi bi-arrow-right" @onclick="() => AddPlayer(player)"></button>
                    </div>
                </div>
            }
        </div>
        <div class="col">
            <div class="modal-header">Bevorzugte Mitspieler</div>
            @foreach (var player in AndereSpieler.Where(player => Spieler.BevorzugteMitspieler.Contains(player.Name)))
            {
                <div class="card my-2 mx-4">
                    <div class="card-body d-flex justify-content-between align-items-center py-2">
                        <button class="btn btn-primary bi bi-arrow-left" @onclick="() => RemovePlayer(player)"></button><span>@player.Name</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" @onclick="Submit">Speichern</button>
    </div>
</Modal>

@code {
    public bool ShowModal { get; set; }
    [EditorRequired][Parameter]public required Player Spieler { get; set; }
    [EditorRequired][Parameter] public required HashSet<Player> AlleSpieler { get; set; }
    private HashSet<Player> AndereSpieler { get; set; } = null!;

    protected override void OnParametersSet()
    {
        AndereSpieler = AlleSpieler.Where(player => player != Spieler).ToHashSet();
    }

    private void ActivateModal()
    {
        ShowModal = true;
    }

    private void CloseModal()
    {
        ShowModal = false;
    }

    private async Task Submit()
    {
        ShowModal = false;
        await State.SpeichereEinstellungen();
    }

    private void AddPlayer(Player player)
    {
        Spieler.BevorzugteMitspieler.Add(player.Name);
    }

    private void RemovePlayer(Player player)
    {
        Spieler.BevorzugteMitspieler.Remove(player.Name);
    }
}
