﻿<button class="btn btn-primary" @onclick="ActivateModal">Neuer Spieler</button>

<Modal ShowModal="ShowModal" OnCancel="Cancel">
    <EditForm Model="Spieler" OnValidSubmit="SpielerHinzufuegen" @oncancel="Cancel" @onclose="Cancel">
        <DataAnnotationsValidator />
        <div class="modal-body">
            <InputText class="form-control" id="name" placeholder="Name" type="text" @bind-Value="Spieler.Name" />
            <div class="form-control">
                <label for="position">Präferierte Position</label>
                <InputSelect id="position" @bind-Value="Spieler.Position">
                    <option value="@egal">Egal</option>
                    <option value="@Position.Vorne">Vorne</option>
                    <option value="@Position.Hinten">Hinten</option>
                </InputSelect>
            </div>
            <div class="form-control">
                <ToggleSwitch Left="Einzel" @bind-Value="GoalieStattEinzel" Right="Goalie" />
            </div>
            <div class="form-control">
                <ToggleSwitch Left="Ganzes Spiel" @bind-Value="Spieler.WillSchnellWeg" Right="Nur 1.HZ" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @onclick="Cancel">Abbrechen</button>
            <button type="submit" class="btn btn-primary">Spieler hinzufügen</button>
        </div>
    </EditForm>
</Modal>

@code {
    private bool ShowModal { get; set; } = false;

    private Position? egal = null;

    [Parameter] public EventCallback<Player> OnNeuerSpieler { get; set; }

    private Player Spieler { get; set; } = new();
    public bool GoalieStattEinzel { get; set; } = false;

    private void ActivateModal()
    {
        ShowModal = true;
    }

    private void Cancel()
    {
        ShowModal = false;
        Spieler = new();
    }

    private void SpielerHinzufuegen()
    {
        if (GoalieStattEinzel)
        {
            Spieler.Einzelspielmodus = Spielplan.Spielmodus.Goalie;
        }

        ShowModal = false;
        OnNeuerSpieler.InvokeAsync(Spieler);
        Spieler = new();
    }
}
